.container {
  background-color: white;
  max-width: 32.75rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  --error-color: #b57b6d;
  --input-field-color: #f3f8fb;
  font-family: "Space Mono";
}

.inputContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: var(--input-field-color);
  border-radius: 6px;
  max-width: 524.7px;
}

.inputContainer:focus-within {
  outline: 3px solid #5aa79d;
}

.inputContainer.errorOutline {
  outline: 3px solid var(--error-color);
}

.iconContainer {
  display: flex;
  padding: 8px 20px;
  /* justify-content: center; */
}

.numberInput {
  flex: 2;
  padding: 8px 20px;
  text-align: right;
  background-color: var(--input-field-color);
  border-radius: 6px;
  font-size: 2rem;
  border: none;
  outline: none;
  font-weight: 700;
  color: #00474b; 
  font-family: "Space Mono";
}
.numberInput:hover{
   cursor: pointer;
}
.numberInput::placeholder {
  color: #9fb3b2;
}

.label,
.errorMsg {
  width: max-content;
  font-family: "Space Mono";
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  color: #5d6b6c;
  letter-spacing: 0.1em;
}

.errorMsg {
  min-height: 1.9rem;
  color: var(--error-color);
}
img{
  padding: 8px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Mobile (0-550px) */
@media (max-width: 550px) {
  .container { 
    padding: 0px 32px;
  }

  .numberInput {
    font-size: 1.0rem;
  }

  .label,
  .errorMsg {
    font-size: 1rem;
  }
}

/* Tablet (550-1100px) */
@media (min-width: 551px) and (max-width: 1100px) {
  .container {
    width: 100%;
  }

  .numberInput {
    font-size: 1.75rem;
  }

  .label,
  .errorMsg {
    font-size: 1.1rem;
  }
}

/* Laptop (1100-1500px) */
@media (min-width: 1101px) and (max-width: 1500px) {
  .container {
    width: 100%;
  }

  .numberInput {
    font-size: 1.85rem;
  }

  .label,
  .errorMsg {
    font-size: 1.2rem;
  }
}

/* Desktop (1500+px) */
@media (min-width: 1501px) {
  .container {
    width: 100%;
  }

  .numberInput {
    font-size: 2rem;
  }

  .label,
  .errorMsg {
    font-size: 1.25rem;
  }
}