/* Styles for the CounterApp container */
.div {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
}

/* Styles for the Total Count heading */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

/* Styles for the Add Counter button */
.add-button {
  background-color: #2d80d8;
  color: rgb(243, 243, 243);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Styles for individual Counter components */
.counter {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd7d7;
  border-radius: 5px;
  background-color: #ddd3d350;
}

.increment-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.increment-button:hover {
  background-color: #218838;
}

.decrement-button {
  background-color: #f80606;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.decrement-button:hover {
  background-color: #e93030;
}
