.mainContainer{
  background-color: #9FE8DF;
  max-width: 100%; 
}

.titleContainer{
  width: 100%;
  /* max- */
  height: 145px;
  background-color: #9FE8DF;
  padding: 40px 545px;
}

.title{
  color: hsla(183, 100%, 15%, 1);
  font-weight: 700;
  font-size: 24px;
  font-family: "Space Mono";
  line-height: 35.54px;
  /* padding:0px 80px; */
  letter-spacing: 12px;
  max-width: 107px;
  display:  flex;
  flex-direction: column;
  /* white-space: initial; */
  /* word-break: break-all; */
  word-wrap: break-word;
}
.contentContainer {
  display: flex;
  gap: 16px;
  /* width: 72.375rem; */
  max-width: 1280px;
  padding: 61px;
  background-color: hsla(0, 0%, 100%, 1);
  /* grid-area: auto; */
  gap: 61px;
  border-radius: 20px 20px 0px 0px;
}
.leftContainer{
  /* padding: 60px 60px 90px 60px; */
  max-width: 32.875rem;
  display: flex;
  flex-direction: column;
  gap: 56px;
  /* width: 100%; */

}

.rightContainer{
  /* padding:0px 60px; */
  background-color: hsla(183, 100%, 15%, 1);
  border-radius: 16px;
  max-width: 35.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.tipAmount{
  padding: 56px 56px 0px 56px;
  /* padding-top: 56px; */

}
.totalAmount{
  /* padding: 60px 56px 0px 56px; */
  padding: 0px 56px;
}

.reset{
  /* max-width: 454px; */
  /* margin: 457x 56px 56px 56px; */
  padding: 56px 56px;
  padding-top: 101px;
}

/* Mobile (0-550px) */
@media (max-width: 550px) {
  .titleContainer{
  width: 100%; 
  height: 145px;
  background-color: #9FE8DF;
  padding: 40px 134px;
}
  .contentContainer { 
    /* padding: 8px; */
    max-width: 375px;
    display:flex;
    flex-direction: column;
    padding: 0px 32px;
    gap: 32px;
    border-radius: 20px 20px 0px 0px;
  }

  .leftContainer{
    max-width: 375px;
    gap: 0px;
  }

  .rightContainer{
    max-width: 375px;
    /* gap:24px; */
    row-gap: 0px;
    /* margin: 32px; */
    /* padding: 32px; */
    /* width: 100%; */
  }
  .totalAmount,.tipAmount,.reset{
    padding: 0px 15px;
    padding-top: 24px;
  }
  .reset{
    padding-top: 60px;
    padding-bottom: 20px;
    
  }
  .numberInput {
    font-size: 14px;
    line-height: 20.73px;
  }

  .label,
  .errorMsg {
    font-size: 1rem;
  }
}
