.reset{
    max-width: 28.375rem;
    width: 100%;
    padding: 13px 0px;
    font-size: 1.5rem;
    font-family:"Space Mono" ;
    line-height: 35.54px;
    letter-spacing: 2px; 
    text-align: center;
    text-wrap: wrap;
    border: none;
    font-weight: 700;
    border-radius: 7px;
    /* TODO clarify the color of background  */
    background: #26C2AD;
    /* background: var(--base-green); */
    /* color:#00494D; */
     /* color: hsla(183, 100%, 15%, 1); */
    color: var(--dark-green);
}

.reset:hover{
     cursor: pointer; 
   background:var(--base-green);
}
 
.disabled{ 
  
    /* TODO clarify the color of background  */
  background: hsla(183, 79%, 24%, 1);
    /* 0D686D; */
    
    /* Change cursor to indicate the button is disabled */
  cursor:default; 
}
.disabled:hover{
    /* TODO clarify the color of background  */
  background: hsla(183, 79%, 24%, 1);
  /* 0D686D; */
  /* background: var(--dark-green); */

  /* Change cursor to indicate the button is disabled */
  cursor:default
}
@media (max-width: 550px) {
  .reset { 
    padding: 9px 0px;
    max-width: 100%; 
  }
  .container{
    max-width: 100%; 
  }
}