.reset{
    max-width: 28.375rem;
    width: 100%;
    padding: 13px 0px;
    font-size: 1.5rem;
    font-family:"Space Mono" ;
    line-height: 35.54px;
    letter-spacing: 2px; 
    text-align: center;
    text-wrap: wrap;
    border: none;
    font-weight: 700;
    border-radius: 7px;
    background: #26C2AD;
    color: hsla(183, 100%, 15%, 1);
}

.reset:hover{
     cursor: pointer;
   background:#9FE8DF;
}
 
.disabled{
  /* background-color: gray; Color when the button is disabled */
  background: hsla(183, 79%, 24%, 1);
  /* color: white; */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}
.disabled:hover{
  background: hsla(183, 79%, 24%, 1);
  /* Change cursor to indicate the button is disabled */
  cursor:default
}
@media (max-width: 550px) {
  .reset { 
    padding: 9px 0px;
    max-width: 100%;
    /* display:flex;  */
  }
  .container{
    max-width: 100%;
    /* margin: 15px; */
  }
}