button{
    width: 28.375rem;
    padding: 13px 0px;
    font-size: 1.5rem;
    font-family:"Space Mono" ;
    line-height: 35.54px;
    letter-spacing: 10%;
    /* when button is active ,text-color */
    /* hsla(172, 68%, 45%, 1); */
    text-align: center;
    text-wrap: wrap;
    border: none;
    font-weight: 700;
    border-radius: 7px;
    background: #26C2AD;
    color: hsla(183, 100%, 15%, 1);

}

button:hover{
     cursor: pointer;
   background:#9FE8DF;
}

.inactive{
  cursor:pointer;
    /* set this when button becomes inactive */ 
    background: hsla(183, 79%, 24%, 1);
    
}

@media (max-width: 550px) {
  button { 
    padding: 9px 0px;
    max-width: 280px;
    /* display:flex;  */
  }
  .container{
    max-width: 310px;
    /* margin: 15px; */
  }
}