:root {
  display: flex; 
  --base-green: #9FE8DF; 
  --dark-green: #00474B; 
  --bg-shade: #F3F8FB;   
  --text-color: #5D6B6C; 
  --text-color-light: #9FB3B2;
  --error: #B47C6D;       
  --white: #FEFFFF;       
  --stroke-green: #5BABA2; 
   /* TODO set-up widht and height max 100%*/
width: 100%;

}

body {
  margin: 0;
  width: 100%;
  display: flex; 
}
